{% extends 'base.html' %}
{% block title %} Общая статистика {% endblock %}

{% block filter %}
{% include 'statmonitor/filter.html' %}
{% endblock %}

{% block content %}
<div class="stats_all">
    <table style="border:1px solid green; border-collapse:collapse">
        <thead>
        <tr>
            <th style="border:1px solid green; padding: 5px" colspan="7"></th>
            <th style="border:1px solid green; padding: 5px" colspan="3">Чтение с диска</th>
            <th style="border:1px solid green; padding: 5px" colspan="3">Запись на диск</th>
            <th style="border:1px solid green; padding: 5px" colspan="3">Попадание в кэш, %</th>
        </tr>
        <tr>
            <th style="border:1px solid green; padding: 5px">Дата запроса</th>
            <th style="border:1px solid green; padding: 5px">Пользователь</th>
            <th style="border:1px solid green; padding: 5px">База данных</th>
            <th style="border:1px solid green; padding: 5px">ID запроса</th>
            <th style="border:1px solid green; padding: 5px">Выполнено запросов</th>
            <th style="border:1px solid green; padding: 5px">Общее время выполнения, сек.</th>
            <th style="border:1px solid green; padding: 5px">Общее кол-во строк</th>
            <th style="border:1px solid green; padding: 5px">буферный кэш</th>
            <th style="border:1px solid green; padding: 5px">временные таблицы</th>
            <th style="border:1px solid green; padding: 5px">временные файлы</th>
            <th style="border:1px solid green; padding: 5px">буферный кэш</th>
            <th style="border:1px solid green; padding: 5px">временные таблицы</th>
            <th style="border:1px solid green; padding: 5px">временные файлы</th>
            <th style="border:1px solid green; padding: 5px">буферный кэш</th>
            <th style="border:1px solid green; padding: 5px">временные таблицы</th>
        </tr>
        </thead>
        <tbody>
            {% for stat in statements %}
            {% load filters %}
            <tr>
                {% if stat.query_minute %}
                    <td style="border:1px solid green; padding: 5px">{{stat.query_minute |date:"d.m.Y H:i:s"}}</td>
                {% elif stat.query_hour %}
                    <td style="border:1px solid green; padding: 5px">{{stat.query_hour |date:"d.m.Y H:i:s"}}</td>
                {% elif stat.query_day %}
                    <td style="border:1px solid green; padding: 5px">{{stat.query_day |date:"d.m.Y"}}</td>
                {% elif stat.query_week %}
                    <td style="border:1px solid green; padding: 5px">{{stat.query_week |date:"d.m.Y"}}</td>
                {% elif stat.query_month %}
                    <td style="border:1px solid green; padding: 5px">{{stat.query_month |date:"M Y"}}</td>
                {% endif %}
                {% if stat.rolname_aggr %}
                    <td style="border:1px solid green; padding: 5px">{{stat.rolname_aggr}}</td>
                {% else %}
                    <td style="border:1px solid green; padding: 5px">{{stat.rolname}}</td>
                {% endif %}
                {% if stat.datname_aggr %}
                    <td style="border:1px solid green; padding: 5px">{{stat.datname_aggr}}</td>
                {% else %}
                    <td style="border:1px solid green; padding: 5px">{{stat.datname}}</td>
                {% endif %}
                <td style="border:1px solid green; padding: 5px">
                    <a href="{% url 'query' stat.queryid %}" target="_blank">{{stat.queryid}}</a>
                </td>
                <td style="border:1px solid green; padding: 5px">{{stat.calls}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.total_exec_time}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.rows}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.shared_blks_read_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.local_blks_read_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.temp_blks_read_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.shared_blks_written_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.local_blks_written_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.temp_bytes_written_size | pretty_size}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.shared_blks_hit_percent}}</td>
                <td style="border:1px solid green; padding: 5px">{{stat.local_blks_hit_percent}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}